@import "../abstracts/variables";
@import "../abstracts/mixins";

.filters {
  padding: 2rem 2rem;
  margin-bottom: 5rem;
  background: $primary-gradient;
  border-radius: $border-radius-big;

  &__form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &__logo {
      height: 7rem;
      transform: scale(1.5);
    }

    &__type {
      display: grid;
      grid-template-columns: 1fr;

      &__label {
        @include labelStl;
      }

      &__radio {
        vertical-align: middle;
      }
    }

    &__tags {
      display: grid;
      grid-template-columns: 1fr;

      font-size: 1.9rem;

      &__label {
        @include labelStl;
      }

      &__checkbox {
        vertical-align: middle;
      }
    }

    &__name {

      &__search {
        border-radius: 10rem;
        padding: 1.5rem 4rem;
        min-width: 25rem;
        
        font-size: 2rem;
        border: none;
        &::placeholder {
          color: $hover-color;
        }
      }
    }

    &__button {
      min-width: 25rem;
      min-height: 6rem;
      background: white;
      color: $hover-color;
    }
  }
}
