@import "../abstracts/variables";

.filters {
  padding: 2rem 2rem;
  margin-bottom: 5rem;
  background: $primary-gradient;
  // margin-bottom: 10rem;
  &__form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // background-color: lightgreen;

    &__type {
      // background: yellow;

      &__label {
        // background: pink;
      }

      &__radio {
        // background: pink;
      }
    }

    &__tags {
      // background: blue;

      &__label {
        // background: pink;
      }

      &__checkbox {
        // background: pink;
      }
    }

    &__name {
      // background: yellowgreen;

      &__search {
        // color: darkgreen;
      }
    }
  }
}
