.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  // grid-template-rows: repeat(5, 1fr);
  // margin: 2rem;
  padding: 2rem ;
  
  background: rgb(255, 255, 255) ;

}
