.mainHeader {
//   background: url("../assets/background2.jpg");
//   // background: none;
//   //   background-color: aqua;
// //   opacity: 0;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 2rem;
  margin: 4rem 0;
}
