@import "../abstracts/variables";

// $primary-color: peachpuff;
// $primary-color: #F2C949;
// $primary-color: #4C9A2A;
// $hover-color: peru;
// $hover-color: #C16512;

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background: $primary-gradient;
    // -webkit-gradient(linear, left top, right bottom, yellow, black)
    margin-top: 0;
    padding : 2rem 3rem;
    // padding : 0;
    max-height: 6rem;
    margin : 0;
}

.navigation__link {
    font-size: 2.5rem;
    text-decoration: none;
    color: white;

    &:hover {
        transform: scale(2);
        color: $hover-color;
    }
}

.navigation__item_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation__logo {
    justify-self: left;
    margin-left: 4%;
    &:hover{
        cursor: pointer;
    }
    transform: scale(.4);
}

ul li {
    margin-right: 50px;
    &:last-child {
        margin-right: 80px;
    }
}