@import "../abstracts/variables";
@import "../utils/btn";

.product {
  perspective: 150rem;
  --moz-perspective: 150rem;
  position: relative;
  height: $product-height;

  &__side {
    font-size: 5rem;
    height: $product-height;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
    background-color: rgba(white, $alpha: 0.6);
    border-radius: 5px;

    &--back {
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__picture {
    min-height: 100%;
    width: 50%;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  &__backform {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    & * {
      margin: 0 0 2rem 0;
    }
  }

  &__weightinput {
    font-size: 1.9rem;
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
  }

  &__submit {
    font-size: 1.9rem;
    text-transform: uppercase;
    display: block;
    margin: auto;
  }

  &__price-value {
    font-size: 3rem;
  }

  &__weight {
    font-size: 3rem;
  }
}
