@import "../abstracts/variables";
@import "../utils/btn";


.product {
  perspective: 150rem;
  --moz-perspective: 150rem;
  position: relative;
  height: $product-height;

  &__side {
    font-size: 5rem;
    height: $product-height;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
    background-color: rgba(green, $alpha: .5);

    &--back {
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__picture {
    min-height: 100%;
    width: 50%;

  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
  }


  &__cta {
    position: absolute;
    top: 50%;
    left: 50%; /*relates to the parent's width/hight*/
    transform: translate(-50%, -50%); /*relates to the element's width/hight*/
    width: 90%;
    text-align: center;
  }

  &__price-box {
    text-align: center;
    color: white;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__weight {
    font-size: 1.9rem;
    text-transform: uppercase;
  }

  &__weightinput {
    font-size: 1.9rem;
    text-transform: uppercase;
  }

  &__submit {
    font-size: 1.9rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
}
