*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  /* background-repeat: no-repeat, repeat;
  background-image: url("./assets/background.jpg"), url("./assets/green.jpg");
  background-blend-mode:screen; */
  background: url("./assets/background2.jpg");
}

body {
  box-sizing: border-box;
  font-size: 2rem;
  margin: 2rem 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}